.gal{
	width:1100px;
	height:550px;
}
img{
	width:500px;
	height:450px;
}
body{
	color:black;
}
.menu ul li {
	display:inline;
	margin-right:20px;
	
}
.header{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin-bottom:25px;
}
.container{
	width:1170px;
	margin:0 auto;
}
body{
	background-image:url('https://static.wikia.nocookie.net/dealphatale/images/3/36/The_Halo_Tree.jpg/revision/latest/scale-to-width-down/440?cb=20231203061913');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:top;
}
.cosmology{
	background-color:purple;
	padding:10px;
}
.ttt{
	font-size:50px;
}
.title{
	font-size:100px;
	color:blue;
}
.word{
	font-size:20px;
}